---
layout: archive
permalink: /year-archive/
title: "Blog Posts"
author_profile: true
redirect_from:
  - /wordpress/blog-posts/
---
This is my blog, which will be mostly math-focused. I write about the things I am learning, and with 
the goal of sharing my love of math, not to share research insights. My writing will range wildly in
accessibility, but I will try to mark posts that require a large amount of background. 

{% include base_path %}
{% capture written_year %}'None'{% endcapture %}
{% for post in site.posts %}
  {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
  {% if year != written_year %}
    <h2 id="{{ year | slugify }}" class="archive__subtitle">{{ year }}</h2>
    {% capture written_year %}{{ year }}{% endcapture %}
  {% endif %}
  {% include archive-single.html %}
{% endfor %}
